{% extends 'sns/layout.html' %}

{% block title %}Index{% endblock %}

{% block ttlmigi %}トップページ{% endblock %}

{% block head %}
<h1>Sns</h1>
<p class="caption">※グループのチェックをONにして更新するとそのグループに登録されている利用者のメッセージだけが表示されます。</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'index' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__search_form__">
{{search_form}}
<button>検索</button>
</form>
<hr>
<form action="{% url 'index' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__check_form__">
{{check_form}}
<button>更新</button>
</form>
{% for item in contents %}
<hr>
<p class="">
{% if item.group.title == 'public' %}
[public]
{% endif %}</p>
<p class="">{{item.content}}</p>
<p class=""> ({{item.pub_date}})</p>
{% if item.share_id > 0 %}
    <hr class="">
    <p class="">{{item.get_share}}</P>
{% endif %}
<p class="">
    <span class="">share={{item.share_count}} good={{item.good_count}}</span>
    "{{item.owner}}" (<a href="{% url 'add' %}?name={{item.owner}}">add friend</a>)
    <a href="{% url 'share' item.id %}"><button>share</button></a>
    <a href="{% url 'good' item.id %}"><button>good!</button></a>
</p>
{% endfor %}
{% endblock %}
